<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hospital.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Hospital.load" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Hospital.Properties.Settings.hospitalConnectionString1"
            connectionString="Data Source=NORD\MSSQLSERVER1;Initial Catalog=hospital;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Hospital.Properties.Settings>
            <setting name="sqlServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlDataBaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="saveDir" serializeAs="String">
                <value />
            </setting>
            <setting name="hospitalConnectionString" serializeAs="String">
                <value>Data Source=NORD\MSSQLSERVER1;Initial Catalog=hospital;Integrated Security=True</value>
            </setting>
            <setting name="sqlLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlPassword" serializeAs="String">
                <value />
            </setting>
        </Hospital.Properties.Settings>
        <Hospital.load>
            <setting name="sqlNameServer" serializeAs="String">
                <value />
            </setting>
            <setting name="sqlNameDB" serializeAs="String">
                <value />
            </setting>
        </Hospital.load>
    </userSettings>
</configuration>